<div class="container__big-card">
    <div class="content__big-card">
        <div class="big-card__photo">
            <img src="../../../assets/img/angular-notice.png" alt="">
        </div>
        <div class="big-card__title">
            <h1><a href="#">Saiu a nova versao do Angular! Veja mais em angular.io</a></h1>
        </div>
        <div class="big-card__description">
            <p>
                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat urna quis rutrum laoreet. Pellentesque gravida
             augue ornare, ultrices urna quis, accumsan augue. Aliquam commodo pretium enim in dignissim. Donec tortor sem, finibus quis
             varius id, tempus in lorem. Mauris in
                </a>
            </p>
        </div>
    </div>
</div>